body {
  margin: 0px;
   
  background-image: url('../public/bgcolor.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
